{{#block "css"}}
  <link rel="stylesheet" href="/css/warehouse/dashboard.css" />
{{/block}}

{{#block "js"}}{{/block}}

<div class="cardBox">
  <div class="card">
    <div>
      <div class="numbers">{{sum_product.SLsanpham}}</div>
      <div class="cardName">Sản Phẩm</div>
    </div>
    <div class="iconBox">
      <i class="fas fa-gifts"></i>
    </div>
  </div>
  <div class="card">
    <div>
      <div class="numbers">{{sum_provider.SLncc}}</div>
      <div class="cardName">Nhà Cung Cấp</div>
    </div>
    <div class="iconBox">
      <i class="fas fa-user"></i>
    </div>
  </div>
  <div class="card">
    <div>
      <div class="numbers">{{sum_receipt.SLhoadon}}</div>
      <div class="cardName">Đơn Nhập Hàng</div>
    </div>
    <div class="iconBox">
      <i class="fas fa-shopping-cart"></i>
    </div>
  </div>
  <div class="card">
    <div>
      <div class="numbers">{{formatCurrency sum_paid_money.TongHoaDon}}</div>
      <div class="cardName">Số Tiền Đã Nhập</div>
    </div>
    <div class="iconBox">
      <i class="fas fa-dollar-sign"></i>
    </div>
  </div>
</div>
<!-- Overall table -->
<div class="details">
  <div class="recentOrders">
    <div class="cardHeader">
      <h2>Đơn Nhập Hàng Gần Đây</h2>
      <a href="/admin/warehouse/receipt" class="btn">Xem Tất Cả</a>
    </div>
    <table>
      <thead>
        <tr>
          <td>Mã Đơn Hàng</td>
          <td>Tổng(VND)</td>
          <td>Tình Trạng Đơn Hàng</td>
        </tr>
      </thead>
      <tbody>
        {{#each receipt_recently}}
          <tr>
            <td>{{this.IDHoaDonNhap}}</td>
            <td>{{formatCurrency this.TongTien}}</td>
            {{#if this.TinhTrangThanhToan}}
              <td><span class="status delivered">Đã thanh toán</span></td>
            {{else}}
              <td><span class="status pending">Chưa thanh toán</span></td>
            {{/if}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="recentCustomers">
    <div class="cardHeader">
      <h2>Nhà Cung Cấp Gần Đây</h2>
    </div>
    <table>
      <tbody>
        {{#each provider_recently}}
          <tr>
            <td width="60px"><div class="imgBx"><img
                  src="/img/logo-an-danh.jpg"
                  alt=""
                /></div></td>
            <td><h4>{{this.TenNCC}}</h4></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>