{{#block "css"}}
  <link rel="stylesheet" href="/css/warehouse/provider.css" />
{{/block}}

<div class="provider-table">
  <div class="inside-table">
    <div class="providerHeader">
      <h2>Cập Nhật Nhà Cung Cấp</h2>
      <a href="warehouse/provider"><button class="cancel-btn">Quay lại</button></a>
    </div>

    <form method="post" action="warehouse/provider/edit">
      <div class="form-group">
        <label for="id" class="form-label">ID Nhà Cung Cấp</label>
        <input
          type="text"
          class="form-control"
          value="{{edit_provider.ID_NCC}}"
          id="id"
          name="id"
          readonly
        />
      </div>
      <div class="form-group">
        <label for="name" class="form-label">Tên Nhà Cung Cấp</label>
        <input
          type="text"
          class="form-control"
          value="{{edit_provider.TenNCC}}"
          id="name"
          name="name"
        />
      </div>
      <div class="form-group">
        <label for="phone" class="form-label">Số Điện Thoại</label>
        <input
          type="text"
          class="form-control"
          value="{{edit_provider.SDT}}"
          id="phone"
          name="phone"
        />
      </div>
      <div class="form-group">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          value="{{edit_provider.Email}}"
          id="email"
          name="email"
        />
      </div>
      <div class="form-group">
        <label for="street" class="form-label">Số Nhà, Đường</label>
        <input
          type="text"
          class="form-control"
          value="{{edit_provider.SoNhaDuong}}"
          id="street"
          name="street"
        />
      </div>
      <div class="form-group">
        <label for="ward" class="form-label">Phường, Xã</label>
        <input
          type="text"
          class="form-control"
          value="{{edit_provider.PhuongXa}}"
          id="ward"
          name="ward"
        />
      </div>
      <div class="form-group">
        <label for="district" class="form-label">Quận, Huyện</label>
        <input
          type="text"
          class="form-control"
          value="{{edit_provider.QuanHuyen}}"
          id="district"
          name="district"
        />
      </div>
      <div class="form-group">
        <label for="city" class="form-label">Tỉnh, Thành Phố</label>
        <input
          type="text"
          class="form-control"
          value="{{edit_provider.TinhThanhPho}}"
          id="city"
          name="city"
        />
      </div>
      <button class="add-btn" type="submit">Sửa</button>
    </form>

  </div>
</div>